.DS_Store
packages/backend/.env
node_modules
*.log
node_modules/
data/
.repomixignore
repomix-output.xml
repomix.config.json
coding-prompt.md
codebase.md
project-overview.md
project-structure.md
Initial_prompt_v01.txt